/* start the main hall */ 
.main-hall{
    background-color: rgb(29, 13, 122);
    height: 80vh;
}
.disc{
    color: rgb(232, 248, 16);
}
.qoute{
    color: aliceblue;
}
.btn{
    background-color: rgb(203, 245, 17);
    color: rgb(0, 0, 0);
}
.btn:hover{
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);

}
/* features */ 
.features{
  background-color: rgb(195, 196, 185);
}
/* tickets and visa */
.ticc{
  color: rgb(232, 248, 16);
}
.tic{
  color: aliceblue;
}
.tickets{
  background-color: rgb(29, 13, 122);

}
.clients{
  background-color: rgb(29, 13, 122);

}
/* scroll bar */
body::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(203, 245, 17);
}

body::-webkit-scrollbar-thumb {
background-color: rgb(104, 100, 100);
outline: 1px solid slategrey;
}

/* the media queries */ 
@media (max-width: 768px) {
    .main-hall{
        
        height: 130vh;
    }
  }
  
  @media (min-width: 768px) {
    /* Add styles here */
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .main-hall{
        
        height: 130vh;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* Add styles here */
  }
  
  @media (min-width: 1200px) {
    /* Add styles here */
  }
  
  
  